body {
margin: 0;
padding: 0;
background-color: #e6e8eb;
font-family: 'lucida grande', tahoma, san francisco, roboto, segoe UI;
}

#barra {
  height: 43px;
  background-color: #334f8d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  }

#contenidor {
  height: 1500px;
  width: 852px;
  background-color: #FFF;
  margin: 0 auto;
  }

#portada {
  height: 315px;
  background-image: url(img/portada.jpg);
  margin-top: 43px;
}

#nom {
  width: 320px;
  top: 160px;
  left: 210px;
  position: relative;
  color: #FFF;
  text-shadow: 0 0 5px #000;
}

#perfil {
  border: solid 4px white;
  border-radius: 4px;
  position: relative;
  left: 17px;
  top: 13.5px;
  box-shadow: 0 0 10px #333;
}

#menu {
  height: 44px;
  background-color: #e6eBeb;
  padding: 0px;
  margin: 0 0 0 192px;;
  width: 475px;
}

#menu li {
  float: left;
  padding: 0 18px;
  display: block;
  font-weight: bold;
  color: #334f8d;
  background-color:  #FFF;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
}
#menu li:hover {
  color: #000;
  background-image: url(img/selec.gif);
  background-repeat: no-repeat;
  background-position: 50% 37px;
}

#contingut {
  border-top: solid 1px #cdd0d6;
}
.esquerra {
  width: 323px;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin:  10px 0;
}
.esquerra h4{
  background-color: yellow;
  height: 15px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 10px 1px;
  margin: 0;
}

#fotos h4 {
  background-position: 0 -24px;
}
#fotos li {
  display: block;
}
#amics h4 {
  background-position: 0 -48px;
}
.vivir {
  list-style-image: url();
}
.trabajo {
  list-style-image: url();
}
.yo {
  list-style-image: url();
}
#fotos ul li {
  display: block;
  background-color: yellowgreen;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}
#amics ul li {
  display: block;
  background-color: red;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: white;
  background-image: url(img/perfil.jpg);
  line-height: 178px;
  text-shadow: 0 0 2px #000;

}

#fotos ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#amics ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.esquerra ul {
      margin-top: 20px;
}
#f01 {
  background-image: url(img/fotos/f1.jpg);
}
#f02 {
  background-image: url(img/fotos/f2.jpg);
}
#f03 {
  background-image: url(img/fotos/f3.jpg);
}
#f04 {
  background-image: url(img/fotos/f4.jpg);
}
#f05 {
  background-image: url(img/fotos/f5.jpg);
}
#f06 {
  background-image: url(img/fotos/f6.jpg);
}
#f07 {
  background-image: url(img/fotos/f7.jpg);
}
#f08 {
  background-image: url(img/fotos/f8.jpg);
}
#f09 {
  background-image: url(img/fotos/f9.jpg);
}
