body {
margin: 0;
padding: 0;
background-color: #e6e8eb;
font-family: 'lucida grande', tahoma, san francisco, roboto, segoe UI;
}

#barra {
  height: 43px;
  background-color: #334f8d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  }

#contenidor {
  height: 2000px;
  width: 852px;
  background-color: #FFF;
  margin: 0 auto;
  overflow: hidden;
  }

#portada {
  height: 315px;
  background-image: url(img/portada.jpg);
  margin-top: 43px;
}

#nom {
  width: 320px;
  top: 160px;
  left: 210px;
  position: relative;
  color: #FFF;
  text-shadow: 0 0 5px #000;
}

#perfil {
  border: solid 4px white;
  border-radius: 4px;
  position: relative;
  left: 17px;
  top: 13.5px;
  box-shadow: 0 0 10px #333;
}

#menu {
  height: 44px;
  background-color: #e6eBeb;
  padding: 0px;
  margin: 0 0 0 192px;;
  width: 475px;
}

#menu li {
  float: left;
  padding: 0 18px;
  display: block;
  font-weight: bold;
  color: #334f8d;
  background-color:  #FFF;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
}
#menu li:hover {
  color: #000;
  background-image: url(img/selec.gif);
  background-repeat: no-repeat;
  background-position: 50% 37px;
}

#contingut {
  border-top: solid 1px #cdd0d6;
}
.esquerra {
  width: 323px;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin:  10px 0;
  float: left;
  clear: both;
}

.dreta {
  width: 513px;
  margin: 10px 0;
  border: solid 1px #CCC;
  border-radius: 3px;
  float: right;
  position: relative;
  top: -522px;
}

.esquerra h4{
  height: 15px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 10px 1px;
  margin: 0;
}

#fotos h4 {
  background-position: 0 -24px;
}
#fotos li {
  display: block;
}
#amics h4 {
  background-position: 0 -48px;
}
.vivir {
  list-style-image: url();
}
.trabajo {
  list-style-image: url();
}
.yo {
  list-style-image: url();
}
#fotos ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}
#amics ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: white;
  line-height: 178px;
  text-shadow: 0 0 2px #000;
}

#fotos ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#amics ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.esquerra ul {
      margin-top: 20px;
}

#f01 {
  background-image: url(img/fotos/f1.jpg);
}
#f02 {
  background-image: url(img/fotos/f2.jpg);
}
#f03 {
  background-image: url(img/fotos/f3.jpg);
}
#f04 {
  background-image: url(img/fotos/f4.jpg);
}
#f05 {
  background-image: url(img/fotos/f5.jpg);
}
#f06 {
  background-image: url(img/fotos/f6.jpg);
}
#f07 {
  background-image: url(img/fotos/f7.jpg);
}
#f08 {
  background-image: url(img/fotos/f8.jpg);
}
#f09 {
  background-image: url(img/fotos/f9.jpg);
}

#a01 {
  background-image: url(https://dlopez-goicochea2018.github.io/MP08/s2m8uf103_lopez-goicochea/img/perfil.jpg);
}
#a02 {
  background-image: url(https://jsagrera2018.github.io/MP08/s2m8uf103_sagrera/img/perfil.jpg);
}
#a03 {
  background-image: url(https://amoreno2018.github.io/MP08/s2m8uf103_moreno/img/perfil.jpg);
}
#a04 {
  background-image: url(https://kbaquerizo2018.github.io/MP08/s2m8uf103_baquerizo/img/perfil.jpg);
}
#a05 {
  background-image: url(https://rgarcial2018.github.io/MP08/s2m8uf103_garcial/img/perfil.jpg);
}
#a06 {
  background-image: url(https://fxolle.github.io/MP08/s2m8uf103_olle/im/perfil.jpg);
}

#pensa ul {
  height: 40px;
  background-color: #f5f6f8;
  margin: 0;
  padding: 0;
}

#pensa ul li{
  float: left;
  margin: 5px 10px 0 35px;
  padding-right: 10px;
  border-right: solid 1px #CCC;
  font-size: 14px;
}

#pensa ul li a {
  display: block;
  height: 34px;
}
#pensa ul li a:hover {
  background-image: url(img/selec.gif);
  background-repeat: no-repeat;
  background-position: 50% 30px;

}

#pensa div input{
  height: 36px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 513px;
}
#presentacio {
  list-style: url(img/.jpg);
}
#fotos {
  list-style: url(img/.jpg);
}
#amics {
  list-style: url(img/.jpg);
}
#icoestado {
  list-style-image: url(img/post_estado.png);
}
#icovideo {
  list-style-image: url(img/post_foto.png);
}
#icoacontecimiento {
  list-style-image: url(img/post_directo.png);
}

/*-------Estils del mur-------*/

h5{
  font-style: normal;
  font-weight: normal;
  margin:0;
  height: 10px;
  padding: 5px;
}
h6{
  font-style: normal;
  font-weight: normal;
  margin:0;
  height: 10px;
  padding: 5px;
}
b{
  color: blue;
}
.postintro {
  padding: 10px 10px 10px 50px;
  background-image: url(img/perfil.jpg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 10px 10px;
}
.post img , .post iframe, .post p {
  font-size: 12px;
  padding: 10px;
  width: 493px;
}
